<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")" asp-action="Index" asp-controller="Home">Home</a>
    </li>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("User") || User.IsInRole("PassiveMember"))
        {
            <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Team" ? "active" : "")">
                <a class="nav-link" asp-action="Index" asp-controller="Team">Team</a>
            </li>
        }

        @if (User.IsInRole("Officer") || User.IsInRole("Member"))
        {
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Schedule" ? "active" : "")" asp-action="Index" asp-controller="Schedule">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Personnel" ? "active" : "")" asp-action="Index" asp-controller="Personnel">Personnels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Team" ? "active" : "")" asp-action="Dashboard" asp-controller="Team">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Firm" ? "active" : "")" asp-action="Index" asp-controller="Firm">Firms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Service" ? "active" : "")" asp-action="Index" asp-controller="Service">Services</a>
            </li>
        }

        @if (User.IsInRole("Officer"))
        {
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "PaymentOption" ? "active" : "")" asp-action="Index" asp-controller="PaymentOption">Payment Options</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Product" ? "active" : "")" asp-action="Index" asp-controller="Product">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Sector" ? "active" : "")" asp-action="Index" asp-controller="Sector">Sectors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Programme" ? "active" : "")" asp-action="Index" asp-controller="Programme">Programmes</a>
            </li>
        }
    }
</ul>