@model IEnumerable<CRM.Models.Team>
@using CRM.Services
@inject TeamService TeamService
@{
    ViewData["Title"] = "TEAM LIST";
    int counter = 1;
}

<div class="row">
    <div class="col-lg-12 mx-auto">
        @if (User.IsInRole("PassiveMember"))
        {
            <div class="alert alert-primary" role="alert">
                <i class="fa fa-info-circle"></i>
                You have already appealed a team. You cannot appeal a new one while your application is confirmed or rejected by officers.
            </div>
        }
        else
        {
            <div class="mb-3 text-right">
                <a asp-action="Create" class="btn btn-primary">
                    <i class="fa fa-plus-circle"></i>
                    Create a New Team
                </a>
            </div>
        }

        <div class="card">
            <div class="card-header text-center">
                @ViewData["Title"]
            </div>
            @if (Model.Count() > 0)
            {
                <div class="p-0 card-body">
                    <table style="border: none" class="table table-hover table-striped table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">@Html.DisplayNameFor(m => m.Name)</th>
                                <th scope="col">@Html.DisplayNameFor(m => m.Description)</th>
                                <th scope="col" class="text-center">Members</th>
                                <th scope="col">Founder</th>
                                <th scope="col">@Html.DisplayNameFor(m => m.CreatedAt)</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="align-middle">@Html.Raw(counter)</td>
                                    <td class="align-middle">@Html.DisplayFor(m => item.Name)</td>
                                    <td class="align-middle">
                                        @if (!string.IsNullOrEmpty(item.Description))
                                        {
                                            @if (item.Description.Length > 75)
                                            {
                                                @item.Description.Substring(0, 75)
                                                @Html.Raw("...")
                                            }
                                            else
                                            {
                                                @item.Description
                                            }
                                        }
                                    </td>
                                    <td class="text-center align-middle">@TeamService.MemberCounts(item.ID)</td>
                                    <td class="align-middle">@TeamService.TeamFounder(item.ID).User.FullName()</td>
                                    <td class="align-middle">@item.CreatedAt.ToShortDateString()</td>
                                    <td class="text-right align-middle">
                                        @if (User.IsInRole("User"))
                                        {
                                            <a asp-action="Appeal" asp-route-id="@item.ID" class="btn btn-outline-primary btn-sm">
                                                <i class="fa fa-check"></i>
                                                Appeal
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-outline-primary btn-sm btn-icon disabled">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                                counter++;
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="card-body">
                    <div class="alert alert-primary" role="alert">
                        There are no any resources to show here.
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Styles {
    <partial name="_StylesPartial" />
}