@model CRM.Models.ViewModels.ScheduleDashboardViewModel
@using CRM.Services
@inject ScheduleService ScheduleService
@{
    ViewData["Title"] = "SCHEDULES";
}

<partial name="_ScheduleNavigationPartial" />

<div class="row mb-4">
    <div class="col">
        <div class="card">
            <div class="card-header text-center">
                SCHEDULE HISTORIES
            </div>
            @if (Model.ScheduleHistories.Count() > 0)
            {
                <div style="height: 250px; overflow-y: scroll;" class="card-body p-0">
                    <table class="table table-borderless table-striped">
                        <tbody>
                            @foreach (var item in Model.ScheduleHistories)
                            {
                                <tr>
                                    <td class="align-middle">
                                        <span class="fa fa-calendar-check-o" data-toggle="tooltip" data-placement="top" title="@item.StartedAt"></span>
                                    </td>
                                    <td class="align-middle">
                                        <span class="fa fa-calendar-times-o" data-toggle="tooltip" data-placement="top" title="@item.FinishedAt"></span>
                                    </td>
                                    <td class="align-middle">
                                        <span class="fa fa-user-o" data-toggle="tooltip" data-placement="top" title="@item.User.FullName()"></span>
                                    </td>
                                    <td class="align-middle">
                                        w/ @item.Personnel.FullName()
                                    </td>
                                    <td class="align-middle">
                                        <span class="badge" style="background: @item.Programme.Color">@item.Programme.Name</span>
                                    </td>
                                    <td class="align-middle text-right">
                                        <span class="badge badge-primary">Completed</span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            }
            else
            {
                <div class="card-body">
                    <div class="alert alert-primary" role="alert">
                        There are no any resources to show here.
                    </div>
                </div>
            }
            <div class="card-footer">
                <div class="row align-items-center">
                    <div class="col align-middle">
                        Total Schedule(s): @Model.ScheduleHistories.Count()
                    </div>
                    <div class="col text-right">
                        <a asp-action="History" class="btn btn-sm btn-outline-primary">
                            View More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header text-center">
                UPCOMING SCHEDULES
            </div>
            @if (Model.UpcomingSchedules.Count() > 0)
            {
                <div style="height: 250px; overflow-y: scroll;" class="card-body p-0">
                    <table class="table table-borderless table-striped">
                        <tbody>
                            @foreach (var item in Model.UpcomingSchedules)
                            {
                                <tr class="@if (item.StartedAt < DateTime.Now) { @Html.Raw("table-warning") } schedule-@item.ID">
                                    <td class="align-middle">
                                        <span class="fa fa-calendar-check-o" data-toggle="tooltip" data-placement="top" title="@item.StartedAt"></span>
                                    </td>
                                    <td class="align-middle">
                                        <span class="fa fa-calendar-times-o" data-toggle="tooltip" data-placement="top" title="@item.FinishedAt"></span>
                                    </td>
                                    <td class="align-middle">
                                        <span class="fa fa-user-o" data-toggle="tooltip" data-placement="top" title="@item.User.FullName()"></span>
                                    </td>
                                    <td class="align-middle">
                                        w/ @item.Personnel.FullName()
                                    </td>
                                    <td class="align-middle">
                                        <span class="badge" style="background: @item.Programme.Color">@item.Programme.Name</span>
                                    </td>
                                    <td class="text-right align-middle">
                                        @if (item.StartedAt < DateTime.Now)
                                        {
                                            <a href="javascript:;" id="@item.ID" class="btn btn-schedule btn-sm btn-outline-primary">
                                                <span class="fa fa-check"></span>
                                            </a>
                                        }
                                        else
                                        {
                                            <span class="badge badge-primary">Upcoming</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            }
            else
            {
                <div class="card-body">
                    <div class="alert alert-primary" role="alert">
                        There are no any resources to show here.
                    </div>
                </div>
            }
            <div class="card-footer">
                <div class="row align-items-center">
                    <div class="col align-middle">
                        Total Schedule(s): @Model.UpcomingSchedules.Count()
                    </div>
                    <div class="col text-right">
                        <a asp-action="Upcoming" class="btn btn-sm btn-outline-primary">
                            View More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header text-center">
                @ViewData["Title"]
            </div>

            <div class="card-body text-center">
                <div id="calendar"></div>
            </div>
            <div class="card-footer text-center">
                Total Today's Schedule(s): @ScheduleService.DailyScheduleCounts(Model.Member.TeamID)
            </div>
        </div>
    </div>
</div>

@section Styles {
    <partial name="_StylesPartial" />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css' rel='stylesheet' />
    <style>
        .list-group-item {
            background: transparent;
        }
    </style>
}

@section Scripts {
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js'></script>
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next',
                    center: '',
                    right: 'month,agendaWeek,agendaDay'
                },
                buttonText: {
                    month: 'Month',
                    agendaDay: 'Day',
                    agendaWeek: 'Week',
                    today: 'Today'
                },
                defaultView: 'agendaWeek',
                editable: false,
                firstDay: 1,
                allDaySlot: false,
                events: 'api/schedules',
                contentHeight: 450,
            });

            var $leftButtons = $('.fc-left .fc-button-group button').removeClass();
            var $rightButtons = $('.fc-right .fc-button-group button').removeClass();

            $leftButtons.addClass('btn btn-primary');
            $rightButtons.addClass('btn btn-primary');
        });
    </script>

    <script>
        $('.btn-schedule').click(function () {
            var id = $(this).attr('id');
            $.ajax({
                url: '/api/schedules/' + id,
                type: 'PUT',
                cache: false,
                dataType: 'text',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $('.schedule-' + id).hide();
                },
                error: function (data) {
                    alert("An error occurred.");
                }
            });
            return false;            
        });
    </script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}
